!!!
%html
  %head
    = render 'layouts/head'
  %body

    = render 'layouts/navigation'

    .container
      .row
        - if user_signed_in?
          .span3
            - if @date.present?
              = render 'events/events_day'
            - else
              - # Here is something else
          .span9
            = yield
        - else
          .span12
            = yield

